/*
.active{
  background-color:crimson!important;
  color:white!important;
  text-decoration:none;
}
*/
.logo{
  font-family: Proxima Nova,Verdana,Avenir Next!important;
  font-size: 20px!important;
  line-height: 1.6!important;
}
.welcome{
  font-family: Proxima Nova,Verdana,Avenir Next!important;
  font-size: 11px!important;
  line-height: 1.6!important;
  background-color:#e5f2ff;
}
body{
  background-image: url("./assetss/images/greyzz.png");
}

.bg-primary{
  background:linear-gradient(180deg, rgba(0,85,128,1) 0%, rgba(0,102,153,1) 75%, rgba(0,153,230,1) 100%)!important;
}
.bg-secondary{
  background:linear-gradient(180deg, rgb(51, 187, 255) 0%, rgb(128, 212, 255) 75%, rgb(204, 238, 255) 100%)!important;
}


.panel{
  margin-top:45px;
  border: 1px solid rgba(0,85,128,1);
  border-radius:3px 3px 0px 0px;
  background-color:rgb(242,242,242);
  
}
.panel-header{
  background-color:rgb(0,85,128);
}
.panel-footer{
  background-color:#e5f2ff;
  margin-top:10px;
}
.title{
  font-family: roboto condensed,sans-serif;
  font-size: 20px;
  font-weight: 300;
  color:aliceblue;
}
.row-form{
  margin-top:10px!important;
}
.label-form{
  font-size:14px;
  margin-top:8px;
  font-weight:bold;
}
.form-control, .form-select{
  font-size:0.7rem!important;
}
.image{
  cursor:pointer;
  margin-top:5px;
}
.image:hover{ 
  transform: translateY(-3px);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.image2{
  cursor:pointer;
  margin-top:5px;
}
.image2:hover{ 
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.modal-footer{
  justify-content:center!important;
}

.tb-responsive{
  max-width:100%!important;
  overflow-x: auto!important;
}
.noPad{
  padding:0px!important;
  margin:0px!important;
}


/*------------------------Cards  user-------------------------------*/
.profile-card {
  transition: 0.5s;
  
}
.profile-card:hover {
  transform: scale(1.025);
  transition: 0.5s;
}
.profile-photo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}
.social-links ul {
  padding: 0px;
  margin: 0px;
}
.social-links ul li {
  list-style: none;
  display: inline-block;
  margin: 2px 0px;
  font-size: 20px;            
}
.social-links ul li a {
  color: #333;
  padding: 2px 6px;
  border-radius: 5px;
  transition: 0.5s;
}
.social-links ul li:hover a {
  background-color: #333333;
  color: #fff;
  transition: 0.5s;
}

.professionalSummary{
  font-size:10px;  
  text-align: justify;
  text-justify: inter-word;
}

/*------------------------Linea de tiempo-------------------------------*/
.steps-form {
  display: table;
  width: 100%;
  position: relative; }
.steps-form .steps-row {
  display: table-row; }
.steps-form .steps-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc; }
.steps-form .steps-row .steps-step {
  display: table-cell;
  text-align: center;
  position: relative; }
.steps-form .steps-row .steps-step p {
  margin-top: 0.5rem; }
.steps-form .steps-row .steps-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: 0; }

.btn-default{
  color:#fff !important;
  background-color:#007bff !important;
  
}
.btn-indigo{
  color:#fff !important;
  background-color:#28a745 !important;
  
}


@media (max-width:600px) {
  .linea {
    overflow-x: auto!important;
  }
}





  
